.root {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0.5rem 0;
}

.cluserInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 8rem;
  color: #595959;
  font-weight: bold;
  padding: 0 1rem;
}

.clusterNumber {
  margin-bottom: 0.5rem;
}
